@charset "utf-8";
@import "normalize";
@import "codeblock.css";

@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700italic,700,300,300italic);

@font-face {
  font-family: 'Hack';
  src:  url('../fonts/hack-regular-latin-webfont.eot?v=2.020');
  src:  url('../fonts/hack-regular-latin-webfont.eot?#iefix&v=2.020')
          format('embedded-opentype'),
        url('../fonts/hack-regular-latin-webfont.woff2?v=2.020')
          format('woff2'),
        url('../fonts/hack-regular-latin-webfont.woff?v=2.020')
          format('woff'),
        url('../fonts/hack-regular-latin-webfont.ttf?v=2.020')
          format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Site Settings */
$serif-font: "Merriweather", serif;
$sans-font: "Merriweather Sans", sans-serif;
$monospace-font: "Hack", monospace;
$code-background: rgba(247, 247, 247, 1);

$heading-text-color: hsl(0, 0%, 20%);;
$paragraph-text-color: hsl(0, 0%, 20%);;

$nav-height: 3em;
$nav-title-size: 1.5em;
$nav-links-size: 1em;
$nav-title-line-height: $nav-height / $nav-title-size;
$nav-links-line-height: $nav-height / $nav-links-size;
$nav-bar-background-color: hsl(0, 0%, 20%);;
$nav-bar-color: white;
$nav-hover-background: hsl(198, 100%, 37%);
$nav-focus-background: $nav-hover-background;

$border-color: hsl(0, 0%, 20%);;
$link-color: hsl(198, 100%, 37%);
$link-visited: hsl(198, 100%, 30%);
$link-hover: hsl(78, 100%, 37%);
$link-active: hsl(78, 100%, 30%);

$footer-background-color: hsla(0, 0%, 0%, 0.2);

a:link {
  color: $link-color;
}

a:visited {
  color: $link-visited;
}

a:hover {
  color: $link-hover;
}

a:active {
  color: $link-active;
}

@media only screen and (max-width: 960px) {
  nav, main, .footer-content {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 960px) {
  nav, main, .footer-content {
    width: 960px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 701px) {
  .hidden-nav-trigger {
    display: none;
  }
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

html, body {
  height: 100%;
}

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  padding: 0;
  margin: 0;
}

#container {
  min-height: 100%;
  position: relative;
}

main {
  padding-bottom: 12em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-font;
  color: $heading-text-color;
}

p {
  font-family: $serif-font;
  font-weight: 300;
  color: $paragraph-text-color;
}

header {
  height: $nav-height;
  background-color: $nav-bar-background-color;
  color: $nav-bar-color;
}

nav {
  height: $nav-height;
}

nav h1 {
  font-size: $nav-title-size;
  line-height: $nav-title-line-height;
  margin: 0;
  padding: 0;
  display: inline-block;
  color: $nav-bar-color;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  font-size: $nav-links-size;
  line-height: $nav-links-line-height;
  display: inline-block;
  list-style-type: none;
}

.hidden-nav-trigger {
  float: right;
  padding: 0 1em;

  &:link {
    color: $nav-bar-color;
  }
  &:visited {
    color: $nav-bar-color;
  }
  &:hover {
    background-color: $nav-hover-background;
  }
  &:focus {
    background-color: $nav-focus-background;
  }
}

@media only screen and (max-width: 700px) {
  header {
    height: 100%;
  }

  nav {
    height: 100%;
  }

  .nav-menu {
    // float: left;
    clear: both;
    width: 100%;
    display: none;
    // text-align: center;
    // position: absolute;
    // top: $nav-height;
    // right: -10%;
    background-color: $nav-bar-background-color;
  }

  .nav-menu li {
    float: none;
    width: 100%;
  }
}

.hidden-nav-menu:hover > .nav-menu {
  display: block;
}

.hidden-nav-menu:active > .nav-menu {
  display: block;
}

.hidden-nav-trigger:focus + .nav-menu {
  display: block;
}

.hidden-nav-trigger a {
  color: $nav-bar-color;
}

nav li a {
  font-family: $sans-font;
  padding: 0 1em;
  display: block;
  text-align: center;
  text-decoration: none;
  color: $nav-bar-color;
}

nav li a:link {
  color: $nav-bar-color;
}

nav li a:visited {
  color: $nav-bar-color;
}

nav li a:hover {
  background-color: $nav-hover-background;
}

nav li a:focus {
  background-color: $nav-focus-background;
}

nav h1 a {
  text-decoration: none;
}

nav h1 a:link {
  color: $nav-bar-color;
}

nav h1 a:visited {
  color: $nav-bar-color;
}

nav li.selected a {
  text-decoration: underline;
  font-weight: 800;
}

p {
  font-family: $serif-font;
  font-size: 1.0em;
  line-height: 1.6;
}

article h1, h3, h4 {
  text-align: center;
}

article h2 {
  text-align: left;
}

article p {
  text-align: justify;
  // max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

article > p > img {
  display: block;
  margin: 0 auto;
  max-width: 75%;
}

.article-summaries {
  // margin: 2em 0 2em 0;
}

.article-summary {
  padding: 2em 0.5em;
}

.article-summary:nth-child(n+2) {
  border-top: 1px dotted $border-color;
}

h2 a:link {
  color: $heading-text-color;
  text-decoration: none;
}

h2 a:visited {
  color: $heading-text-color;
}

h2 a:hover {
  color: $link-hover;
}

h2 a:active {
  color: $link-active;
}

p code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  border-radius: 3px;
  background-color: $code-background;
  overflow-wrap: break-word;
  // text-align: left;
  // max-width: 90%;
  // overflow-x: auto;
  // word-break: inherit;
  // word-wrap: inherit;
}

p code:before, p code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

code, kbd, pre, samp {
  font-family: $monospace-font;
}

.highlight {
  word-break: normal;
  padding: 0.5em;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: $code-background;
  border-radius: 3px;
}

footer {
  position:absolute;
  bottom:0;
  width: 100%;
  height: 12em;
  background-color: $footer-background-color;
  color: hsla(0, 0%, 0%, 0.50);
  border-top: 1px solid hsla(0, 0%, 0%, 0.50);
}

#copyright {
  color: hsla(0, 0%, 0%, 0.25);
  font-size: 0.9em;
}

.footer-content {
  padding: 10px;
}

.footer-content div {
  display: inline-block;
  vertical-align: middle;
}

.left-footer {
  text-align: left;
  border-right: 1px dotted $border-color;
  width: 32.5%;
}

.left-footer div {
  display: inline-block;
}

.left-footer ul, .left-footer li {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.left-footer a {
  color: hsla(0, 0%, 0%, 0.50);
  text-decoration: none;
}

.left-footer a:hover {
  color: hsla(0, 0%, 0%, 0.80);
  text-decoration: underline;
}

.center-footer {
  text-align: center;
  width: 32.5%;
}

.social {
  text-align: right;
  border-left: 1px dotted $border-color;
  width: 32.5%;
}

.social a {
  color: hsla(0, 0%, 0%, 0.50);
  text-decoration: none;
}

.social a:hover {
  color: hsla(0, 0%, 0%, 0.80);
}

@media only screen and (max-width: 600px) {
  .footer-content {
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    -ms-flex-direction: column;
    flex-flow: column;
  }

  .left-footer {
    width: 100%;
    text-align: center;
    border-bottom: 1px dotted $border-color;
    border-right: none;
  }

  .left-footer li {
    display: inline-block;
    margin: 1em 1em;
  }

  .center-footer {
    width: 100%;
    text-align: center;
    border-right: none;
  }

  .left-footer {
    -moz-box-ordinal-group: 1;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .social {
    -moz-box-ordinal-group: 2;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    border-bottom: 1px dotted $border-color;
  }

  .center-footer {
    -moz-box-ordinal-group: 3;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }

  .social {
    width: 100%;
    text-align: center;
    border-left: none;
  }

  footer {
    height: 18em;
  }

  main {
    padding-bottom: 18em;
  }
}

.article-title {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.article-date {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
  color: hsla(0, 0%, 0%, 0.60);
  font-style: italic;
  font-weight: normal;
}

article .date {
  font-style: italic;
  font-weight: normal;
}

article .author {
  // font-style: italic;
  font-weight: normal;
}

article h2 {
  font-size: 1.50em;
}

article ul {
  font-family: $serif-font;
  font-size: 1em;
  font-weight: 300;
  color: $paragraph-text-color;
}

@media only screen and (max-width: 750px) {
  .article-title {
    display: block;
  }

  .article-date {
    display: block;
    float: none;
    text-align: left;
    margin: 0.5em 0;
  }
}

.article-summary-text {
  text-align: justify;
}

.article-summary-text p {
  margin: 0 0 0.5em 0;
}

.read-more {
  float: right;
}

aside {
  background: hsla(0, 0%, 0%, 0.10);
  padding: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 3px;
  background-color: $code-background;
  font-family: $sans-font;

  .tags {
    ol {
      margin: 0;
    }

    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em;
  }
}

aside h2 {
  font-size: 1.25em;
  font-family: $sans-font;
}

aside ol li {
  font-family: $serif-font;
}

.about .images {
  width: 100%;
  text-align: center;
}

.about img {
  width: 30%;
  margin: 1em 2em;
}

@media only screen and (max-width: 600px) {
  .images :first-child {
    display: none;
  }

  .images img {
    width: 90%;
    margin: 1em auto;
  }
}

.about h1 {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
}

.about h2 {
  font-size: 1.25em;
  text-align: center;
}

.about h3 {
  font-weight: lighter;
  font-size: 1em;
  font-style: italic;
}

.about-social {
  text-align: center;
}

.about-social a {
  color: hsla(0, 0%, 0%, 0.50);
  text-decoration: none;
}

.about-social a:hover {
  color: hsla(0, 0%, 0%, 0.80);
}

.contact {
  width: 60%;
  margin: 0 auto;
}

.contact h1 {
  text-align: center;
}

.contact h2 {
  font-size: 1.25em;
  text-align: center;
}

.contact h3 {
  text-align: center;
}

.contact p {
  text-align: justify;
}

.contact .about-social {
  margin: 1em auto;
}

.contact .about-social p {
  text-align: center;
}

form {
  margin-bottom: 1em;
}

.contact-form {
  box-sizing: border-box;
  display: block;
  margin-top: 2em;
  font-family: $sans-font;
  font-size: 1em;
  line-height: 1.6em;
  color: $heading-text-color;
}

.contact-form form {
  box-sizing: border-box;
  display: block;
}

.form-div {
  margin-bottom: 1em;
  box-sizing: border-box;
  display: block;
}

.form-div:before {
  content: " ";
  display: table;
  box-sizing: border-box;
}

.contact-form label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 0.45em;
  width: 25%;
  float: left;
  position: relative;
  padding-right: 1em;
  font-weight: bold;
  box-sizing: border-box;
}

.contact-form .form-fields {
  width: 75%;
  float: right;
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  display: block;
  padding: 0.3em 1em;
  font-size: 1em;
  color: $heading-text-color;
  border: 1px solid $footer-background-color;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
  cursor: auto;
}

.form-div:after {
  clear: both;
  content: " ";
  display: table;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  color: white;
  background-color: $link-color;
  display: block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding:  0.3em 1em;
  font-size: 1em;
  line-height: 1.6em;
  border-radius: 3px;
  user-select: none;
  box-sizing: border-box;
  float: none;
  margin: 0 auto;
  box-shadow: none;
  width: auto;
  border: none;
}

button:hover {
  background-color: $link-hover;
}

button:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.hidden {
  display: none;
}

@media only screen and (max-width: 625px) {
  .form-div label, .form-div .form-fields {
    float: none;
  }

  .form-div .form-fields {
    width: 100%;
    margin: 0 auto;
  }

  .contact {
    width: 100%;
  }
}

.thank-you {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
}

@media only screen and (max-width: 625px) {
  .thank-you {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
}

.thank-you h2 {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  // margin: 25% auto;
}

.article-frontmatter {
  background-color: $nav-focus-background;
  background-color: hsla(198, 100%, 37%, 0.75);
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.5em;
  font-size: 0.80em;
  font-family: $sans-font;
}

.article-frontmatter a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.article-frontmatter a:hover {
  text-decoration: underline;
}

.article-frontmatter div {
  display: inline;
}

.article-frontmatter .frontmatter {
  float: left;
}

.social-share {
  text-align: right;
  float: right;
}

@media only screen and (max-width: 725px) {
  .article-frontmatter div {
    display: block;
    text-align: center;
    margin: 0.25em;
  }

  .article-frontmatter .frontmatter {
    float: none;
  }

  .social-share {
    float: none;
    text-align: center;
  }
}

.portfolio {
  margin: 1em 0em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: strech;
  width: 100%;
}

.project {
  width: 40%;
  flex-grow: 1;
  margin: 0.5em;
  padding: 1em;
  border-radius: 3px;
  border: 1px solid $footer-background-color;

  * {
    margin: 0.5em 0;
    text-align: left;
  }

  img {
    width: 100%;
    border: 1px solid $footer-background-color;
  }
}

.project-links {
  h4, a {
    display: inline;
  }
}

.last {
  border: none;
}

@media only screen and (max-width: 700px) {
  .project {
    width: 100%;
  }

  div.overview {
    width: 100%;

    .overview-image {
      display: none;
    }
  }
}

div.recent {
  border-top: 1px dotted $border-color;
  padding: 0em 1em;

  p {
    margin-left: 1em;
  }
}

div.overview {
  display: flex;

  div {
    margin: 1em;
  }

  h1 {
    margin-top: 0em;
    margin-bottom: 0em;
  }

  .overview-image {
    img {
      width: 15em;
    }
  }
}


