<% wrap_layout :layout do %>
  <article>
    <h2><%= current_page.data.title %></h2>
    <%= partial 'partials/article_frontmatter' %>
    <%= yield %>
    <%= partial 'partials/article_frontmatter' %>
  </article>
<% end %>
