<div class="footer-content">
  <div class="left-footer">
    <ul>
      <%= partial "partials/nav_links" %>
    </ul>
  </div>
  <div class="center-footer">
    <p>Made in PA, U.S.A.</p>
    <p id="copyright">&#169; <em>2016 Scott Savage</em></p>
  </div>
  <div class="social">
    <p>
      <%= partial "partials/social_links" %>
    </p>
  </div>
</div>
