<nav class="clearfix hidden-nav-menu">
  <h1><%= link_to "snsavage.com", "/" %></h1>
  <h1 class="hidden-nav-trigger"><a href="#"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a></h1>
  <ul class="nav-menu">
    <%= partial "partials/nav_links" %>
  </ul>
</nav>
