<div class="social-share">
  Share on: 
  <%= link_to "Twitter", twitter(current_page) %> | 
  <%= link_to "Facebook", facebook(current_page) %> | 
  <%= link_to "Google+", google(current_page) %> | 
  <%= link_to "LinkedIn", linkedin(current_page) %>
</div>

