<p>
<%= link_to "Share on Twitter", twitter(current_page) %> | 
<%= link_to "Share on Facebook", facebook(current_page) %> | 
<%= link_to "Share on Google+", google(current_page) %> | 
<%= link_to "Share on LinkedIn", linkedin(current_page) %>
</p>

