<div class="social-share">
  Share on: 
  <%= link_to "Twitter", twitter(current_page), target: "_blank" %> | 
  <%= link_to "Facebook", facebook(current_page), target: "_blank"  %> | 
  <%= link_to "Google+", google(current_page), target: "_blank"  %> | 
  <%= link_to "LinkedIn", linkedin(current_page), target: "_blank" %>
</div>

