<h2>Scott Savage</h2>

<h3><em>Aspiring Web Developer</em></h3>

<p>Currently a financial professional with almost a decade of experience in investments, commercial credit analysis and corporate financial analysis.</p>

<p>Looking to turn my love of technology into a career as a web developer. Recently, graduated from The Pennsylvania State University with a Master of Science degree in Information Systems. I have experience with web development using Ruby on Rails.</p>
