<div class="about">
  <h1>snsavage.com is written by Scott Savage</h1>
  <div class="images">
    <%= image_tag 'scott.jpg',
      title: 'Scott',
      alt: 'Portrait of Scott' %>
    <%= image_tag 'family.jpg',
      title: 'Scott and Family',
      alt: 'Picture of Scott and Family' %>
  </div>

  <p> I have spent the last 10 years as a financial professional working in
  industries including investments, banking and healthcare.  As a way to combine
  my financial career with my interest in technology, I completed a Master of
  Science in Information Systems degree from The Pennsylvania State University
  in May 2015.  </p>

  <p> However, after realizing that I enjoyed my grad school programming
  projects more than my career in finance, I decided to leave finance behind to
  pursue a careers in software development.  In September 2017, I completed the
  Flatiron School's Online Full Stack Web Developer Program.  When not spending
  time with my wife and daughter, I enjoy road cycling around Lancaster County.
  </p>

  <h2>Learn more about me:</h2>

  <div class="about-social">
    <p>
      <%= partial "partials/social_links" %>
    </p>
  </div>

  <h3>
    Thank you for visiting.  If you have any questions please 
    <%= link_to "contact me here", "/contact.html" %>.
  </h3>
</div>

