<div class="about">
<h1>snsavage.com is Scott Savage</h1>
<div class="images">
<%= tag :img, :src => "images/scott.jpg", :title => "Scott", :alt => "Portrait of Scott" %>
<%= tag :img, :src => "images/family.jpg", :title => "Scott and family.", :alit => "Picture of Scott and family." %>
</div> <p>I have spent the last 10 years as a financial professional working in industries including investments, banking and healthcare.  As a way to combine my financial career with my interest in technology, I completed a Master of Science in Information Systems degree from The Pennsylvania State University in May 2015.</p>

<p>However, after realizing that I enjoyed my grad school projects more than my career in finance, I decided to leave finance behind to pursue a technology related career.  I'm currently attending the Flatiron School's Online Web Developer Program.  When not spending time with my wife and daughter, I enjoys road cycling around Lancaster County.</p>

<style>
  .strava-badge- { display: inline-block; height: 48px; }
    .strava-badge- img { visibility: hidden; height: 48px; }
      .strava-badge-:hover { background-position: 0 -63px; }
        .strava-badge-follow { height: 48px; width: 48px; background: url(//badges.strava.com/echelon-sprite-48.png) no-repeat 0 0; }
</style>
<a href="http://strava.com/athletes/766369/badge" class="strava-badge- strava-badge-follow" target="_blank"><img src="//badges.strava.com/echelon-sprite-48.png" alt="Strava" /></a>
</div>
