<div class="contact">
  <h1>Contact me:</h1>
  <p>
    I would love to hear from you!  Let me know if you would like to discuss
    something I've posted or if you would like to discuss a project that you 
    have in mind.  I'm also open to pair progamming.  Feel free to 
    contact me through any of the social networks listed below.
  </p>

<div class="contact-form">
  <form
    name="contact"
    method="post"
    netlify-honeypot="bot-field"
    action="/thank-you.html"
    netlify
  >
    <div class="form-div hidden">
      <label>Robots only!</label>
      <input name="bot-field" />
    </div>
    <div class="form-div">
      <label>Name</label>
      <input class="form-fields" type="text" name="name">
    </div>
    <div class="form-div">
      <label>Email</label>
      <input class="form-fields" type="email" name="email">
    </div>
    <div class="form-div">
      <label>Message</label>
      <textarea class="form-fields" name="message" rows="5"></textarea>
    </div>
    <div data-netlify-recaptcha="true"></div>
    <div class="form-div">
      <button>Send Message</button>
    </div>
  </form>
</div>

<div>
  <h3>Also, please feel free to contact me here:</h3>
  <div class="about-social">
    <p>
      <%= partial "partials/social_links" %>
    </p>
  </div>
</div>
</div>
