<form action="https://formspree.io/snsavage@gmail.com" method="POST">
  <input type="text" name="name">
  <input type="email" name="_replyto">
  <input type="submit" value="Send">
  <input type="hidden" name="_next" value="//snsavage.com" />
</form>
